{% extends 'base.html.twig' %}

{% block title %}Nos fablab{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% for fablab in fablabs %}
            <div class="col-6 p-4">
                <div class="card my-2" style="width: 36rem;">
                    <img class="card-img-top" src="{{ asset('images/batiment.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ fablab.name }}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="row">
                            <div class="col-6">
                                <li class="list-group-item"><i class="fas fa-city"></i> {{ fablab.address }} à {{ fablab.city }}</li>
                            </div>
                            <div class="col-6">
                                <li class="list-group-item"><i class="fas fa-mobile-alt"></i> {{ fablab.phonenumber }}</li>
                            </div>
                        </div>

                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>   
    
</div>


{% endblock %}
