{% extends 'base.html.twig' %}

{% block title %}Ajouter un événement - {{ parent() }}{% endblock %}

{% block body %}

        <div class="row my-4 mx-4">
            <div class="col-12 my-4 mx-4">
                {{ form_row( form.name ) }}
            </div>
            <div class="col-md-6 col-12">
                {{ form_row( form.created_at ) }}
            </div>
            <div class="col-md-6 col-12">
                {{ form_row( form.deadline_at ) }}
            </div>
            <div class="col-md-6 col-12">
                {{ form_row( form.picture ) }}
            </div>
            <div class="col-md-6 col-12 invisible">
                {{ form_row( form.price ) }}
            </div>
            <div class="col-md-6 col-12">
                {{ form_row( form.weight ) }}
            </div>
            <div class="col-md-6 col-12">
                {{ form_row( form.length ) }}
            </div>
            <div class="col-md-6 col-12">
                {{ form_row( form.width ) }}
            </div>
            <div class="col-md-6 col-12">
                {{ form_row( form.height ) }}
            </div>
            <div class="col-md-6 col-12">
                {{ form_row( form.description ) }}
            </div>
            
        </div>

        <button class="btn btn-primary mx-4" type="submit">Ajouter</button>
        {{ form_end( form ) }}
    </div>
{% endblock %}