{% extends 'base.html.twig' %}

{% block title %}Nos projets - {{ parent() }}{% endblock %}

{% block body %}

<div class="container text-center">
    
    <div class="projects my-4">
        <div class="row">
            {% for project in projects %}
            <div class="col-md-6 col-lg-4">
                <div class="card project my-3">
                    <div class="project-picture" style="background-image: url('{{ project.picture }}');">
                        {% if date( project.startAt ) > date() %}
                            <span class="badge badge-pill badge-danger">A venir</span>
                        {% elseif date( project.endAt ) < date() %}
                            <span class="badge badge-pill badge-success">Réalisé</span>
                        {% else %}
                            <span class="badge badge-pill badge-warning">En cours</span>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ project.name }}</h5>
                        <div class="project-info">
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            <span>
                                                <i class="fab fa-osi"></i>
                                            </span>
                                        </div>
                                        <div class="col-6">
                                            <span>
                                                <p class="hoverP">
                                                    {{ ( project.price ) ? project.price : 'oss' }}
                                                    <span class="hoverpoid">Abréviation conventionné de "Open Source".</span> 
                                                </p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="row project-info2">
                                        <div class="col-6">
                                            <span>
                                                <i class="fas fa-weight-hanging"></i>
                                            </span>
                                        </div>
                                        <div class="col-6">
                                            <span>
                                                <p class="hoverP">                                                
                                                    {{ ( project.weight ) ? project.weight : 'inconnu' }} 
                                                    <span class="hoverpoid">Le poid est indiqué en gramme.</span> 
                                                </p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="card-text">{{ project.description|slice(0,80) }}...</p>
                        <a href="{{ path( 'project_show', { id: project.id } ) }}" class="btn btn-primary">Fiche project complète</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
