{% extends 'base.html.twig' %}

{% block title %}{{ project.name }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row my-2">
            <div class="col-lg-8 col-sm-12">
                <iframe title="visuel du projet : {{ project.name }}" class="ifram-show" width="725" height="455" src="{{ project.lientinker }}" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                <iframe title="visuel du projet : {{ project.name }}" class="ifram-show-sm d-lg-none" width="600" height="455" src="{{ project.lientinker }}" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                <iframe title="visuel du projet : {{ project.name }}" class="d-sm-none" width="450" height="455" src="{{ project.lientinker }}" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
            </div>

            <div class="card col-lg-4 col-sm-12 shadow" style="width: 20rem;">
                <div class="card-header">
                    <h2 class="text-center">{{ project.name }}</h2>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Créée {{ project.deadlineAt|date('d/m/Y') }}</li>
                    <li class="list-group-item">Poids {{ project.weight }} g</li>
                    <li class="list-group-item">Largeur {{ project.width }} cm</li>
                    <li class="list-group-item">Longueur {{ project.length }} cm</li>
                    <li class="list-group-item">Hauteur {{ project.height }} cm</li>
                    <li class="list-group-item">{{ ( project.price ) ? project.price : 'Gratuit' }}</li>
                </ul>
                
            </div>
        </div>
        <div class="cadre my-2 p-2 shadow"><p class="text-center">{{ project.description }}</p></div>
    </div>

</div>
{% block footer %}{% endblock %}
{% endblock %}