{% extends 'base.html.twig' %} 

{% block title %}Connexion - {{ parent() }}{% endblock %}

{% block nav %}{% endblock %}

{% block body %}

<div class="container">
    <form action="{{ path('user_login')}}" method="post">
        <div class="row midform">
            <div class="col-12 text-center">
                <a class="navbar-brand" href="{{ path('main_index')}}"><img src="{{ asset('images/logo.png') }}" alt="Logo fablab" /></a>
            </div>
            <div class="col-12 text-center my-2">
                <input type="text" placeholder="nom d'utilisateur" required name="_username" value="" />

            </div>
            <div class="col-12 my-4 text-center">
                <input type="password" placeholder="mot de passe" required name="_password" />
                <small id="" class="form-text text-muted">Ne communique pas tes identifiants</small>
            </div>
            <div class="col-12 text-center my-2">
                <button type="submit" class="btn btn-primary">Connexion</button>
            </div>
            <div class="col-12 text-center my-2">
                <a class="btn btn-primary" href="{{ path('user_register') }}">Inscrit-toi</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block footer %}{% endblock %}
